{% extends 'base.html' %}
{% load static %}

{% block title %}iTREATS Ltd. - About Us{% endblock %}

{% block content %}

	<div class="main_container">

        <div class="sub_content_1">
            <h1>WHO ARE WE?</h1>
            <h2>iTreats is Here To Provide a Wide Selection of Everyone's Choice Sweetened Frozen Food</h1>
        </div>
        <div class="sub_content_2">        
            <div class="about_sub_content">
                <p id="location"><i>Located in Toronto</i></p>
                <img class="about_image" src="{% static "images/toronto.jpg" %}" alt="Picture of Toronto">
                <div class="about_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu bibendum at varius vel pharetra vel turpis nunc eget.</p>
                </div>
                
            </div>
        </div>        

    </div>


{% endblock %}
