<div class="footer_container">
    <div class="footer_links">     
        <div class="footer_link_wrapper">
            <div class="footer_link_items">
                <h2>Contact Us: </h2>
                <p>(xxx) xxx-xxxx</p>
            </div>
        </div>
        <div class="footer_link_wrapper">
            <div class="footer_link_items">
                <h2>Social Media:</h2>
                <a href="/">Instagram</a> 
                <a href="/">Facebook</a>
                <a href="/">Twitter</a>
            </div>
        </div>
        <div class="footer_link_wrapper">
            <div class="footer_link_items">
                <h2>&copy; 2021 iTreats Ltd.</h2>
            </div>
        </div>
        
    </div>
</div>