* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

#page_container {
    position: relative;
    overflow-y: auto;    
    width: 100%;
    min-height: 100vh;
    top: 0;
    z-index: 1;
    background-color: #00FFFF;
    background: -webkit-linear-gradient(to bottom, #FF00FF 0%, #00FFFF 100%) fixed;
    background: -moz-linear-gradient(top, #FF00FF, #00FFFF) fixed;
    background: linear-gradient(to bottom, #FF00FF 0%, #00FFFF 100%) fixed;  
}

#content-wrap {
    min-height: 100%;
    padding-bottom: 58px;
}

.main_container {
	margin-top: 80px;
}

.sub_content_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: auto;

    h1 {
        font-size: 2rem;
        padding: 40px 10px;
        text-align: center;
        color: #131313;
    } 
   
    h2 {
        font-size: 3.25rem;
        padding: 10px 10px;        
        text-align: center;
        color: #131313;
        font-family: "Dancing Script";
		font-weight: 550px;
    }
}

.sub_content_2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto 40px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 960px) {    
          
    #content-wrap {
        padding-bottom: 296px;
    }
	
	.sub_content_1 {
        h2 {
            font-size: 2.5rem;
        }
    }

}